body{
    background-color: #41AED9 ;
    margin:0;
    padding:0;
}
/* Dropdown Button */
.buttonHead{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.dropbtn {
    background-color: #397BE6;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    width: 200px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline;
    flex-direction: column;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3CDBF0;
    width: 160px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Buttons inside the dropdown */
    .dropdown-content button {
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    border:0em;
    margin: 0em;
    min-width: 160px;
    cursor: pointer;

  }
  .listboxContainer {
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    border:0em;
    margin:0;
    width: 160px;
  }
  .textFind{
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    border:0em;
    margin:0;
    min-width: 160px;
  }
  .check{
    padding: 12px 16px;
    text-decoration: none;
    background-color: transparent;
    border:0em;
    margin:0;
    min-width: 160px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #41AED9;}
  .dropdown-content button:hover {background-color: #41AED9;}

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #397BE6;}
  .maincontainer{
    display: flex;
    justify-content: center; 
    align-items: center; 
   
  }
  
  textarea{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 16px;
    background-color: rgb(245, 240, 240);
    padding: 12px 20px 10px 20px;
    resize: none;
    height: 35em;
    margin-top:15px;
    padding-bottom: 2em;
    margin-bottom: 5em;
    border:none;
  }
  .mainBox{
    width:100%;
  }
  button{
    padding:0em;
  }

  .alert {
    margin-top: 15px;
    padding: 20px;
    background-color: #36f44c; /* Red */
    color: black;
    margin-bottom: 15px;
    text-align: center; 
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
  select{
    width:100px;
  }